.side__nav {
    $vw: 100vw;
    background-color: $color-chinese-black;
    color: $color-white;

    .top__links,
    .bottom__links {
        .link {
            border-radius: 4px;
            transition: all 0.8s ease;

            &.active,
            &:hover {
                background-color: $color-gunmetal;
                color: $color-green-sheen;

                svg {
                    color: $color-green-sheen;
                }
            }
        }
    }
}
