.admin__dashboard__index {
    $vw: 100vw;

    .top__cards {
        svg {
            width: calc($vw / 1440px * 20px);
            height: calc($vw / 1440px * 20px);
    
            @include media('<phone') {
                width: calc($vw / 750px * 20px);
                height: calc($vw / 750px * 20px);
            }
    
            @include media('<small') {
                width: calc($vw / 500px * 24px);
                height: calc($vw / 500px * 24px);
            }
        }
    }

    .dash__card {
        box-shadow: 0px 2px 2px 0px #0000001A;
        border: 1px solid $color-bright-gray;
        background-color: $color-white;
    }

    .sessions__number {
        select {
            color: $color-chinese-black;
            border: 1px solid $color-bright-gray;

            &:focus {
                border: 1px solid $color-gunmetal;
                outline: none;
            }
        }
    }

    .shad__table {
        button {
            background: transparent;
            color: $color-chinese-black;

            &[role="checkbox"] {
                padding: 4px;
            }

            thead {
                background-color: $color-ghost-white;
                color: $color-chinese-black
            }
        }
    }
}