$color-white: #fff;
$color-black: #000;
$color-dark-electric-blue: #62717a;
$color-gunmetal: #262b3a;
$color-chinese-black: #10161e;
$color-cultured: #f7f6f2;
$color-alice-blue: #eff6fc;
$color-new-car: #2154cb;
$color-gray: #bdbdbd;
$color-green-sheen: #64ba9e;
$color-medium-sea-green: #40b869;
$color-dark-charcoal: #333333;
$color-light-silver: #d0d5dd;
$color-ghost-white: #f9f9f9;
$color-independence: #474d63;
$color-slate-gray: #6f7c8d;
$color-bright-gray: #e4e7ec;
$color-artichoke: #999b84;
$color-pale-taupe: #c29c81;
$color-gold-crayola: #eebc89;
$color-pantone-green: #07a042;
$color-crimson-red: #940803;
$color-auro-metal-saurus: #6b7186;

$font-montserrat: "Montserrat";
$font-montreal: "Neue Montreal";

$z-indexes: ("modal", "nav", "logo", "hamburger", "aside", "content", "bg");
