$color-white: #FFF;
$color-black: #000;
$color-dark-electric-blue: #62717A;
$color-gunmetal: #262B3A;
$color-cultured: #F7F6F2;
$color-alice-blue: #EFF6FC;
$color-new-car: #2154CB;
$color-gray: #BDBDBD;
$color-green-sheen: #64BA9E;
$color-medium-sea-green: #40B869;
$color-dark-charcoal: #333333;

$font-inter: "Inter Tight";
$font-montreal: "Neue Montreal";

$z-indexes: ('modal', 'nav', 'logo', 'hamburger', 'aside', 'content', 'bg');