$color-white: #FFF;
$color-black: #000;
$color-dark-electric-blue: #62717A;
$color-gunmetal: #262B3A;
$color-chinese-black: #10161E;
$color-cultured: #F7F6F2;
$color-alice-blue: #EFF6FC;
$color-new-car: #2154CB;
$color-gray: #BDBDBD;
$color-green-sheen: #64BA9E;
$color-medium-sea-green: #40B869;
$color-dark-charcoal: #333333;
$color-light-silver: #D0D5DD;
$color-ghost-white: #F9F9F9;
$color-independence: #474D63;
$color-slate-gray: #6F7C8D;
$color-bright-gray: #E4E7EC;
$color-artichoke: #999B84;
$color-pale-taupe: #C29C81;
$color-gold-crayola: #EEBC89;
$color-pantone-green: #07A042;
$color-crimson-red: #940803;
$color-auro-metal-saurus: #6B7186;

$font-montserrat: "Montserrat";
$font-montreal: "Neue Montreal";

$z-indexes: ('modal', 'nav', 'logo', 'hamburger', 'aside', 'content', 'bg');