*,
*::after,
*::before {
  box-sizing: border-box;
  user-select: none;
}

html, body {
  line-height: 1;
  font-family: $font-montreal !important;
  background-color: $color-white;
  color: $color-black;  
  scroll-behavior: smooth;
  height: auto;
  $vw: 100vw;
  font-size: calc($vw / 1440px * 16px);

  @include media('<phone') {
    font-size: calc($vw / 750px * 18px);
    overflow-x: hidden;
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 18px);
  }
}

p {
  line-height: 1.5;
  

  &.big {
    $vw: 100vw;
    font-size: calc($vw / 1920px * 20px);

    @include media('<phone') {
      font-size: calc($vw / 750px * 20px);
      overflow-x: hidden;
    }

    @include media('<small') {
      font-size: calc($vw / 500px * 20px);
    }
  }

  &.bigger {
    $vw: 100vw;
    font-size: calc($vw / 1920px * 32px);

    @include media('<phone') {
      font-size: calc($vw / 750px * 32px);
      overflow-x: hidden;
    }

    @include media('<small') {
      font-size: calc($vw / 500px * 30px);
    }
  }
}

small {
  $vw: 100vw;
  font-size: calc($vw / 1440px * 14px);

  @include media('<phone') {
    font-size: calc($vw / 750px * 14px);
    overflow-x: hidden;
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 13px);
  }
}

h1 {
  line-height: 1.2;
  font-family: $font-montreal;
  $vw: 100vw;
  font-size: calc($vw / 1440px * 55px);

  @include media('<phone') {
    font-size: calc($vw / 750px * 55px);
    width: auto;
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 35px);
  }
}

h2 {
  $vw: 100vw;
  font-family: $font-montreal;
  font-size: calc($vw / 1440px * 48px);

  @include media('<phone') {
    font-size: calc($vw / 750px * 48px);
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 30px);
  }
}

h3 {
  $vw: 100vw;
  font-family: $font-montreal;
  font-size: calc($vw / 1440px * 40px);

  @include media('<phone') {
    font-size: calc($vw / 750px * 40px);
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 28px);
  }
}

h4 {
  $vw: 100vw;
  font-family: $font-montreal;
  font-size: calc($vw / 1440px * 35px);

  @include media('<phone') {
    font-size: calc($vw / 750px * 35px);
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 26px);
  }
}

h5 {
  $vw: 100vw;
  font-family: $font-montreal;
  font-size: calc($vw / 1440px * 28px);

  @include media('<phone') {
    font-size: calc($vw / 750px * 28px);
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 24px);
  }
}

h6 {
  $vw: 100vw;
  font-family: $font-montreal;
  font-size: calc($vw / 1440px * 20px);

  @include media('<phone') {
    font-size: calc($vw / 750px * 20px);
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 20px);
  }
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

img {
  vertical-align: middle;
}

input, textarea {
  border: 1px solid $color-gray;
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  color: $color-gray;
  font-family: $font-montreal;
  $vw: 100vw;
  font-size: calc($vw / 1440px * 16px);
  background: transparent;

  @include media('<phone') {
    font-size: calc($vw / 750px * 16px);
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 16px);
  }

  &[type='file'] {
    width: 30%;

    @include media('<small') {
      width: 70%;
    }
  }

  &::placeholder {
    color: $color-gray;
  }

  &:focus {
    border: 1px solid $color-white;
    outline: none;
  }
}

button {
  padding: 16px 30px;
  background: $color-gunmetal;
  color: $color-white;
  border-radius: 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.outline {
    background: none;
    border: 1px solid $color-black;
    border-radius: 30px;
    color: $color-white;
    outline: none;
  }

  &.green__sheen {
    background: $color-green-sheen;
  }
}

.desktop {
  display: auto !important;

  @include media('<phone') {
    display: none !important;
  }
}

.phone {
  display: none !important;
  
  @include media('<phone') {
    display: block !important;
  }
}